/* Aspectos Generales */ 

* {
    box-sizing: border-box;
/*    scroll-behavior: smooth;*/

}
body {
    background-color: black;
    color: white;
    font-family: "Montserrat", sans-serif;
}

/* Navbar */
.navbar {
    font-size: 1.2rem;
    height: 80px;

}
.navbar-brand h2 {
    font-size: 2rem;
    font-weight: 300;
}
.logo_navbar {
    width: 40px;
    margin-right: 10px;
}

/* Header Hero Carousel*/
header img {
    display: block;
    min-height: 55vh;
    max-height: 85vh;
    max-width: 100vw;
    object-fit: cover;
} 

/* Quienes somos */
.quienes-somos hr {
    width: 90%;
    margin: 0 auto;
}
.quienes-somos__icon-container {
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.quienes-somos__icon-container i {
    font-size: 1.5rem;
} 


/* Destacados */
.destacados hr {
    margin: 0 auto;
}
.card {
    margin: 0 auto; 
    max-width: 18rem;
}

.card-title {
    font-size: 16px;
    font-weight: 400;
}
.card-text {
    font-size: 14px;
    font-weight: 300;

}

.card-img-top {
    max-height: 140px;
}

/* Footer */ 
footer {
    height: 80px;
    display: flex;
    align-items: center;
}
.footer-container {
    display: flex;
    align-items: center;
}
.footer__icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer__icon-container i {
    font-size: 1.4rem;
    margin: 0 8px;
}

/* Responsive */

/* @media screen and (max-width: 1400px) and (min-width: 992px){
    .card-img-top {
        max-height: 140px;
    }
} */
@media screen and (max-width: 425px) {
    .footer-container h3 {
        font-size: 1.15rem;
    }
    .footer__icon-container i {
        margin: 0 4px;
    }
}
@media screen and (max-width: 991px) {
    .quienes-somos__segunda-columna {
        display: flex;
        flex-direction: column-reverse;
    }
}